*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, li{list-style-type: none;}
a{color: #333; text-decoration: none;}
img{width: 100%; }
/*default_1280~1920*/
/*헤더 영역*/
header{
    width: 100%;
    height: 130px;
    position:absolute;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    background: #fff;
}
.fixed{
    position: fixed; 
    background: white; 
    transition: 0.5s; 
    background: white;
    border-bottom: 1px solid #ccc;
}
.fixed .pc_nav>li>a{color: black;}
.mobile_logo{display: none;}
header>.pc_nav{
    display: flex;
    width: 1200px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
.pc_nav>li{
    font-size:1.2rem;
    font-weight: 600;
    text-align:center;
    width: 100px;
}
.pc_nav>li>a{
    color: #000;
    padding: 10px 12px;
}
.pc_nav>li:nth-child(3){cursor:pointer;}
#small_logo{display:none;}
/*콘텐츠 영역*/
main{overflow: hidden;}
/*sub title*/
.header_fix{
    width:100%;
    height: 130px;
}
.sub_title_wrap_brand{
    width:100%;
    height: 230px;
    background: url(../img/sub/brandstory_tit.jpg) no-repeat center center / cover;
    margin-bottom: 80px;
}
.sub_title{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: white;
    margin: 0 auto;
    position: relative;
}
.ind{
    position: absolute;
    top: 4px;
    right: 4px;
}
.sub_title>h2{
    font-size: 3rem;
    line-height: 36px;
}
.sub_title>p{font-size:1.7rem;}

/*브랜드 통합*/
.brand1_wrap, .brand2_wrap, .brand3_wrap, .brand4_wrap, .brand5_wrap{
    width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items:center;
}
.brand_left, .brand_right, .brand1_left, .brand1_right{
    float: left; 
    width: 600px; 
    padding: 36px;
    position: relative;
}
.brand_left>h2{font-size: 2.7rem; margin-bottom:12px; line-height:50px; font-weight: 300; color: #111;}
.brand_right>h2{font-size: 2.7rem; margin-bottom:12px; line-height:50px; font-weight: 300; color: #111;}
.brand_left>p{font-size: 1.25rem; color: #333; font-weight: 300;}
.brand_right>p{font-size:1.25rem; color: #333; font-weight: 300;}

/*브랜드1*/
.brand1{margin-bottom: 100px;}
.brand1_left{padding: 0px; padding-right: 36px;}
.brand1_left>h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 80px;
    margin-bottom: 30px;
    color: #111;
    user-select: none;
}
.brand1_left>p:nth-of-type(1){
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
}
.brand1_left>p:nth-of-type(2){
    color: gray;
}
.brand1_right{
    position: relative;
    height: 412px;
}
.brand1_right>img{
    position:absolute;
    top: 0px;
    left: 36px;
    width:600px
}

/*브랜드2*/
.brand2_wrap{align-items:flex-start;}
.brand2_wrap>.brand_left{
    height:330px;
}
.brand2_wrap>.brand_left>img{
    position: absolute;
    top: 0px;
    right: 36px;
    width: 600px;
}
.brand2_wrap>.brand_right{padding-right: 0px;}

/*브랜드3*/
.brand3_wrap{}
.brand3_wrap>.brand_left{
    text-align:end; 
    padding-bottom: 120px; 
    padding-left: 0px;
}
.brand3_wrap>.brand_right{
    height: 530px;
}
.brand3_wrap>.brand_right>img{
    position:absolute;
    top:-66px;
    right: 0px;
    width:600px;
}

/*브랜드4*/
.brand4_wrap{align-items: flex-end;}
.brand4_wrap>.brand_left{
    height: 310px;
}
.brand4_wrap>.brand_left>img{
    position: absolute;
    top: -100px;
    right: 36px;
    width: 600px;
}

/*브랜드5*/
.brand5{margin-bottom: 100px;}
.brand5_wrap>.brand_left{
    text-align:end;
    padding-left: 0px;
}
.brand5_wrap>.brand_left>img{
    width: 300px;
    margin-bottom: 20px;
}
.brand5_wrap>.brand_right{
    height:400px;
}
.brand5_wrap>.brand_right>img{
    position: absolute;
    top:0px;
    left: 36px;
    width: 600px;
}
/*brand 마무리*/
.brand_end{
    width: 100%;
    margin-bottom: 100px;
}
.brand_end>h1{text-align: center; font-weight: 500;}

/*footer*/
footer{
    width: 100%;
    height: 220px;
    background:#ff4e00;
    clear: both;
}
.footer_content{
    max-width: 1200px;
    margin: 0 auto;
    height: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}
.footer_img{
    width: 100px;
    margin-right: 24px;
    margin-bottom: 10px;
}
.footer_txt{font-weight: 300;}
.footer_copy{
    width: 100%;
    text-align: center;
    font-weight:500;
}

/*default, brand 반응형*/

/*(1024~1280)*/
@media only screen and (max-width: 1279px){
    header{height: 110px;}
    header>.pc_nav{width: 100%; padding: 10px 0 4px 0;}
    .pc_nav img{width: 80px;}
    .header_fix{height: 110px;}
    /*브랜드 공통*/
    .brand1_wrap, .brand2_wrap, .brand3_wrap, .brand4_wrap, .brand5_wrap{width: 100%; padding: 0 20px; display: flex; align-items: center; margin-bottom: 50px;}
    .brand_left, .brand_right, .brand1_left, .brand1_right{width: 50%; padding: 0px;}
    .brand_left>h2{font-size: 2.4rem; margin-bottom:12px; line-height:44px; font-weight: 300; color: #111;}
    .brand_right>h2{font-size: 2.4rem; margin-bottom:12px; line-height:44px; font-weight: 300; color: #111;}
    .brand_left>p{font-size: 1.1rem; color: #333; font-weight: 300;}
    .brand_right>p{font-size:1.1rem; color: #333; font-weight: 300;}
    /*브랜드1*/
    .brand1{margin-bottom: 20px;}
    .brand1_right{padding: 0 0 0 36px; display: flex; align-items: center; height: auto;}
    .brand1_right>img{position:relative; top:0px; left: 0px; width:100%; }
    .brand1_left>h1{font-size: 4rem; line-height: 60px; margin-bottom: 24px;}
    .brand1_left>p:nth-of-type(1){font-size: 1.1rem; margin-bottom: 6px;}
    /*브랜드2*/
    .brand2_wrap>.brand_left{display: flex; align-items: center;  height: auto;}
    .brand2_wrap>.brand_left>img{position: relative; right: 0; width: 100%;}
    .brand2_wrap>.brand_right{padding: 0 0 0 36px;}
    /*브랜드3*/
    .brand3_wrap>.brand_right{height: auto;}
    .brand3_wrap>.brand_right>img{position: relative; width: 90%; top:0px; right: 0px;}
    .brand3_wrap>.brand_left{padding: 0 36px; }
    .brand3 p br{display: none;}
    /*브랜드4*/
    .brand4_wrap>.brand_left{height: auto;}
    .brand4_wrap>.brand_left>img{position: relative; width: 100%; top:0px; right: 0px;}
    .brand4_wrap>.brand_right{padding: 0 0 0 36px;}
    /*브랜드5*/
    .brand5_wrap>.brand_right{height: auto;}
    .brand5_wrap>.brand_right>img{position: relative; top: 0px; left: 0px; width: 100%;}
    .brand5_wrap>.brand_left{padding: 0 36px 0 0;}
}

/*(768~1024)*/
@media only screen and (max-width:1023px){
    header{height: 70px;}
    header>.pc_nav{padding: 0;}
    .pc_nav a{font-size: 1rem;}
    #big_logo{display:none;}
    #small_logo{display:block;}
    .pc_nav img{width:100%;}
    .header_fix{height: 70px;}
    }

/*(480~768)*/
@media only screen and (max-width:767px){
    }

/*(370~480)*/
@media only screen and (max-width:479px){
    .pc_nav>li{width:25%;}
    .pc_nav>li:nth-child(3){display: none;}
    .mobile_logo{display: block; display: flex; justify-content: center; padding-top: 6px;}
    .mobile_logo>img{width:105px; height: 45px;}
    header>.pc_nav{height: 36px;}
    header{height: 88px;}
    footer{height: 360px; display: flex; align-items: center;}
    .footer_img{margin-bottom: 0; margin-right: 0;}
    .footer_content{flex-direction:column; flex-wrap: nowrap;}
    .header_fix{height: 88px;}
}

/*menu*/

/*sub title*/



















/*event*/

/*sub title*/
.sub_title_wrap_event{
    width:100%;
    height: 230px;
    background: url(../img/sub/brandstory_tit.jpg) no-repeat center center / cover;
    margin-bottom: 80px;
    background-color: green;
}

/*탭메뉴*/
.event_tab{
    width:1200px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}
.etab{
    width:100%;
    display:none;
    position:relative;
    top:40px;
}
#etab1:checked~.etab:nth-of-type(1) {display:block;}
#etab2:checked~.etab:nth-of-type(2) {display:block;}
#etab3:checked~.etab:nth-of-type(3) {display:block;}
.event_tab>input{
    position:absolute;
    left:-99999px;
}
.event_tab>label{
    width: 33.3%;
    border: 1px solid #999;
    float: left;
    padding: 15px 0px;
    cursor:pointer;
    text-align: center;
    font-size:1.3rem;
    color: #333;
    user-select: none;
}   
.event_tab>label:nth-of-type(1){border-right: 0px;}
.event_tab>label:nth-of-type(2){border-right: 0px;}
#etab1:checked+label{background:#ff4e00; color: white; font-weight:500;}
#etab2:checked+label{background:#ff4e00; color: white; font-weight:500;}
#etab3:checked+label{background:#ff4e00; color: white; font-weight:500;}

/*진행중인 이벤트*/
.ing{
    width: 291px;
    height: 470px;
    float: left;
    margin-bottom: 40px;
    margin-right: 12px;
    border: 1px solid #bbb; 
    border-radius: 10px;
}
.ing:nth-child(4n){margin-right: 0px;}

.event_pic{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.event_pic>img{vertical-align: top;}
.event_txt{
    padding: 12px 18px;
}
.event_txt>h2{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 6px;
}
.event_txt span{color: gray;}
.event_txt p{color: #555; margin-top: 4px;}



