*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{list-style-type: none;}
a{color: #333; text-decoration: none;}
img{width: 100%;}

/*default_1280~1920*/
/*헤더 영역*/
header{
    width: 100%;
    height: 130px;
    position:fixed;
    z-index: 999;
}
header>.pc_nav{
    display: flex;
    width: 1200px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
.pc_nav>li{
    font-size:1.2rem;
    font-weight: 600;
    text-align:center;
    width: 100px;
}
.pc_nav>li>a{color: #000;}
/*콘텐츠 영역*/
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*메인 슬라이드 영역*/
.main_slide{
    width: 100%;
    background: #ffeeb4;
    position:relative;
}
.main_slide>img{height:100%;}
.sliderbtn{
    position:absolute;
    bottom: 25px;
    left: 50%;
    transform:translateX(-50%);
}
.slider_circle{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #ccc;
    float: left;
    margin-right: 10px;
    cursor:pointer;
}
.slider_circle:last-child{margin-right: 0;}
.slider_circle:hover{background: #aaa;}
/*이벤트 영역*/
.event{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
    padding-top: 50px;
    box-shadow: 0 -15px 18px 0px rgb(0 0 0 / 5%);

}
.bs_wrap{
    width: 1200px;
    height: 300px;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bs{
    width: 400px;
    height: 300px;
    background: #ffeeb4;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.bs_img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: green;
}
.bs_txt{
    width:400px;
}
/*메뉴 영역*/
.menu{
    width: 1200px;
    margin-bottom: 50px;
}
.menu_tit{
    text-align:center;
    margin-bottom: 20px;
}
.menu_con{
    background: skyblue;
    width: 1200px;
    height: 400px;
    display: flex;
}
.menu_sig{
    width: 600px;
    height: 400px;
    background: pink;
}
.menu_sub{
    width:400px;
    height:400px;
    display:flex;
    flex-wrap: wrap;
}
.me{
    width:200px;
    height: 200px;
    background: red;
}
/*parallaxbg*/
.parallaxbg{
    width:100%;
    height: 300px;
    background-image: url(../img/parallax.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
}
/*매장찾기 영역*/
.store{
    width: 1200px;
    position: relative;
    margin-bottom: 100px;
}
.store_tit{
    text-align: center;
    margin-bottom:20px;
}
.building{
    position:absolute;
    width: 502px;
    height: 400px;
    bottom: -30px;
    right: 10px;
    z-index:1;
    background: url('../img/building.png') no-repeat center center;
}
.search{
    width: 780px;
    float: left;
    height:300px;
    background: orange;
    display: flex;
    border: 1px solid #aaa;
}
.tabMenu {
    width: 200px; 
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.tabMenu a { 
    color: #000000; 
    font-weight: bold;
}

.current { 
    background-color: #FFFFFF; 
    border-bottom:hidden; 
    transition: all 0.3s linear;
}
.tabPage{
    width: 580px; 
    height: 300px;
    border-left: 1px solid #999;
}
/*sns 영역*/
.sns_wrap{
    width:100%;
    background:#fffad2;
    padding:50px 0 100px 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.sns{
    width:1200px;
    height: 400px;
    display:flex;
}
.main_sns{
    width: 35%;
    height: 100%;
    position: relative;
}
.sns_dec{
    position: absolute;
    top:0;
    left:0;
    width:300px;
    height: 300px;
    border: 20px solid orange;
}
.sns_big>img{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.sub_sns{
    width: 65%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
}
.sns_tit{
    width: 100%;
    text-align: center;
}
.sns_icon{
    justify-content: center;
    display: flex;
    width:100%;
}
.icon{
    width: 50px; 
    height: 50px; 
    border-radius:25px;
    margin-right:10px;
}
.icon:last-child{margin-right:0;}
.sns_pic{
    height:200px; 
    display:flex;  
    overflow: visible;
    
}
.insta{
    min-width: 200px; 
    height: 200px; 
    margin-right: 6px; 
    float: left; 
    cursor:pointer;
}
/*footer*/
footer{
    width: 100%;
    height: 220px;
    background:#ff4e00;
}
.footer_content{
    max-width: 1200px;
    margin: 0 auto;
    height: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}
.footer_img{
    width: 100px;
    margin-right: 24px;
    margin-bottom: 10px;
}
.footer_copy{
    width: 100%;
    text-align: center;
    font-weight:bold;
}





